*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background-color: #cb202d;
  font-family: 'Poppins',sans-serif;
}

.msj{
  width: 100%;
  height: 60px;
  background:#f2dede;
  color: #a94442;
  padding: 20px 30px;
  font:message-box;
  font-size: 15px;
}
  
.form-login {
  width: 400px;
  height: 300px;
  background: white;
  margin: auto;
  font-family: 'Poppins',sans-serif;
  margin-top: 180px;
  box-shadow: 7px 13px 37px rgb(55, 52, 52);
  padding: 20px 30px;
  border-top: 4px solid #da8888;
  color: #5a5b5d;
}
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #b5c4d2;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  .button {
    width: 100%;
    height: 40px;
    background: #439057;
    border: none;
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    /* border-bottom: 1px solid; */
  }
  
  .form-login a {
    color: rgb(72, 69, 69);
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    color: rgb(29, 27, 27);
    text-decoration: underline;
  }