<html>
    <head>
    <meta charset="UTF-8">
    <title>Pedido - Guido's Pizza</title>
    <link rel="stylesheet" type="text/css" href="bebidas.css">
</head>
<body>
   
    <div>   
        <div class="enlace">
        <img src="logo.JPG" alt="" class="logo">
        </div>
        <ul class="heading">     
            <li><a href="entradas.html">Entradas 🥟</a></li>
            <li><a href="pizzas.html">Pizzas 🍕</a></li>
            <li><a href="lasagnas.html">Lasagnas 🍝</a></li>
            <li><a href="combos.html">Combos ⭐️</a></li>
            <li><a href="bebidas.html">Bebidas 🥤</a></li>
            <li><a href="postres.html">Postres 🍰</a></li>
        </ul>
    </div>
    <div class="menu">
    
        <div class="bebidas">
            <img src="bebidas/CocaCola1.5.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola 1.5L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/IncaKola1.5L.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Inca Kola 1.5L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/CocaColaSinAzucar1.5L.png">
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola Sin Azucar 1.5L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/IncaKolaSinAzucar1.5L.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Inca Kola 1.5L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>
        
        <div class="bebidas">
            <img src="bebidas/CocaCola1L.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola 1L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/IncaKola1L.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Inca Kola 1L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/CocaColaSinAzucar1L.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola Sin Azucar 1L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/IncaKolaSinAzucar1L.png">
            <div class="details">
                <div class="details-sub">
                    <h5> Inca Kola Sin Azucar 1L</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit reiciendis nam non quia! Earum eveniet minus. Facilis explicabo natus nihil voluptatem eveniet pariatur.</p> -->
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/CocaColaPersonal.png">
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola Personal</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit reiciendis nam non quia! Earum eveniet minus. Facilis explicabo natus nihil voluptatem eveniet pariatur.</p> -->
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/IncaKolaPersonal.png">
            <div class="details">
                <div class="details-sub">
                    <h5>Inca Kola Personal</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/CocaColaSinAzucarPersonal.png">
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola Sin Azucar Personal</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/IncaKolaSinAzucarPersonal.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Inca Kola Sin Azucar Personal</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/FantaPersonal.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Fanta Personal</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="bebidas">
            <img src="bebidas/SpritePersonal.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Sprite Personal</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

    </div>

</body></html>