<html>
    <head>
        <meta charset="UTF-8">
        <title>Pedido - Guido's Pizza</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/lasagnas.css') }}">
    </head>
    <body>
    
        <div>   
            <div class="enlace">
            <img src="{{ url_for('static',filename='styles/logo.JPG') }}" alt="" class="logo">
            </div>
            <ul class="heading">     
                <li><a href="/entradas">Entradas 🥟</a></li>
                <li><a href="/pizzas">Pizzas 🍕</a></li>
                <li><a href="/lasagnas">Lasagnas 🍝</a></li>
                <li><a href="/combos">Combos ⭐️</a></li>
                <li><a href="/bebidas">Bebidas 🥤</a></li>
                <li><a href="/postres">Postres 🍰</a></li>
                <li><a href="/pedidos">Carrito 🛒</a></li>
    
            </ul>
        </div>
        <div class="menu">

            <div class="lasagnas">
                <img src="{{ url_for('static',filename='styles/lasagnas/LVegatariana.jpeg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Lasagna Vegetariana</h5>
                        <h5 class="price"> S/22.90 </h5>
                    </div>
                    <button>Añadir al Carrito</button>
                </div>
            </div>

            <div class="lasagnas">
                <img src="{{ url_for('static',filename='styles/lasagnas/LCarne.jpeg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Lasagna de Carne</h5>
                        <h5 class="price"> S/ 20.90 </h5>
                    </div>
                    <button>Añadir al Carrito</button>
                </div>
            </div>

            <div class="lasagnas">
                <img src="{{ url_for('static',filename='styles/lasagnas/LHawaiana.jpg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Lasagna Hawaiana</h5>
                        <h5 class="price"> S/ 22.90 </h5>
                    </div>
                    <button>Añadir al Carrito</button>
                </div>
            </div>

            <div class="lasagnas">
                <img src="{{ url_for('static',filename='styles/lasagnas/L4Quesos.jpg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Lasagna de 4 Quesos</h5>
                        <h5 class="price"> S/24.90 </h5>
                    </div>
                    <button>Añadir al Carrito</button>
                </div>
            </div>

            <div class="lasagnas">
                <img src="{{ url_for('static',filename='styles/lasagnas/LChampinones.jpg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Lasagna de Champiñones</h5>
                        <h5 class="price"> S/25.90 </h5>
                    </div>
                    <button>Añadir al Carrito</button>
                </div>
            </div>
        </div>

    </body>
</html>