<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pedidos - Guido's Pizza</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pedidos.css') }}">
    </head>
    <body >
        <div>   
            <div class="enlace">
            <img src="{{ url_for('static',filename='styles/logo.JPG') }}" alt="" class="logo">
            </div>
            <ul class="heading">     
                <li><a href="/entradas">Entradas 🥟</a></li>
                <li><a href="/pizzas">Pizzas 🍕</a></li>
                <li><a href="/lasagnas">Lasagnas 🍝</a></li>
                <li><a href="/combos">Combos ⭐️</a></li>
                <li><a href="/bebidas">Bebidas 🥤</a></li>
                <li><a href="/postres">Postres 🍰</a></li>
                <li><a href="/pedidos">Carrito 🛒</a></li>
                <li><a href="/logout"> Log Out ❌</a></li>
            </ul>
        </div><div class="carrito-container">
            <h1>Carrito de Compras</h1>
            <div class="pedidos">
                <table  id="miTabla" class="producto">
                    <thead>
                        <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Eliminar</th>
                        </tr>
                    </thead>
                    
                    <tfoot>
                        <tr>
                            <td><h3>Total (en soles):</h3></td>
                            <td colspan=3><h3>-----</h3></td>
                            <td></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for pedido in pedidos %}
                        <tr>
                            <td id ='pedidos'>{{pedido.comida}}</td>
                            <td>{{pedido.precio}}</td>
                            <td><button class="delete-button" data-id="{{pedido.id}}">&cross;</button></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <p> <button class="calculo">Calcular</button></p>
                
            </div>
                <script>
                    const items = document.querySelectorAll('.delete-button');
                    for (let i = 0; i < items.length; i ++) {
                        const item = items[i];
                        item.onclick = function(e) {
                            const pedido_id = e.target.dataset['id'];
                            fetch('/pedidos/' + pedido_id + '/delete-pedido', {
                                method: 'DELETE'
                            }).then(function(response) {
                                return response.json();
                            }).then(function(jsonResponse) {
                                if (jsonResponse['success']) {
                                    const table = document.getElementById('miTabla');
                                    var index= item.parentElement.parentElement.rowIndex;
                                    table.deleteRow(index);
                                }
                            });
                        }
                    }

                    document.getElementsByClassName("calculo")[0].addEventListener("click",calcular);
                    function calcular() {
                        var filas=document.querySelectorAll("#miTabla tbody tr");
                        var total=0;
                    
                        filas.forEach(function(e) {
                            var columnas=e.querySelectorAll("td");
                            var cantidad=parseFloat(columnas[1].textContent);
                            total+=cantidad;
                        });
                        var filas=document.querySelectorAll("#miTabla tfoot tr td");
                        filas[1].textContent=total.toFixed(2);
                    }
                </script>
        </div>
    </body>
</html>