<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pedidos - Guido's Pizza</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pedidos.css') }}">
    </head>
    <body >
        <div>   
            <div class="enlace">
            <img src="{{ url_for('static',filename='styles/logo.JPG') }}" alt="" class="logo">
            </div>
            <ul class="heading">     
                <li><a href="/entradas">Entradas 🥟</a></li>
                <li><a href="/pizzas">Pizzas 🍕</a></li>
                <li><a href="/lasagnas">Lasagnas 🍝</a></li>
                <li><a href="/combos">Combos ⭐️</a></li>
                <li><a href="/bebidas">Bebidas 🥤</a></li>
                <li><a href="/postres">Postres 🍰</a></li>
                <li><a href="/pedidos">Carrito 🛒</a></li>
                <li><a href="/logout"> Log Out ❌</a></li>
    
            </ul>
        </div>
    </body>
</html>