<html>
    <head>
    <meta charset="UTF-8">
    <title>Pedido - Guido's Pizza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pizzas.css') }}">
</head>
<body>
   
    <div>   
        <div class="enlace">
        <img src="logo.JPG" alt="" class="logo">
        </div>
        <ul class="heading">     
            <li><a href="entradas.html">Entradas 🥟</a></li>
            <li><a href="pizzas.html">Pizzas 🍕</a></li>
            <li><a href="lasagnas.html">Lasagnas 🍝</a></li>
            <li><a href="combos.html">Combos ⭐️</a></li>
            <li><a href="bebidas.html">Bebidas 🥤</a></li>
            <li><a href="postres.html">Postres 🍰</a></li>
        </ul>
    </div>
    <div class="menu">
    
        <div class="pizzas">
            <img src="pizzas/Hawaiana.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Pizza Hawaiana</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit reiciendis nam non quia! Earum eveniet minus. Facilis explicabo natus nihil voluptatem eveniet pariatur.</p> -->
                <select>
                    <option>Familiar</option>
                    <option>Grande</option>
                    <option>Mediana</option>
                    <option>Personal</option>
                </select>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="pizzas">
            <img src="pizzas/Americana.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Pizza Americana</h5>
                    <h5 class="price"> $15 </h5>
                </div>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit dolor sit amet consectetur adipisicing elit.</p> -->
                <select>
                    <option>Familiar</option>
                    <option>Grande</option>
                    <option>Mediana</option>
                    <option>Personal</option>
                </select>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="pizzas">
            <img src="pizzas/Pepperoni.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Pizza de Pepperoni</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quibusdam facilis, magni consectetur necessitatibus.</p> -->
                <select>
                    <option>Familiar</option>
                    <option>Grande</option>
                    <option>Mediana</option>
                    <option>Personal</option>
                </select>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="pizzas">
            <img src="pizzas/Queso.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Pizza de Queso</h5>
                    <h5 class="price"> $12 </h5>
                </div>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit lorem ipsum, dolor sit amet consectetur adipisicing elit</p> -->
                <select>
                    <option>Familiar</option>
                    <option>Grande</option>
                    <option>Mediana</option>
                    <option>Personal</option>
                </select>
                <button>Seleccionar</button>
            </div>
        </div>
    </div>

</body></html>