<html>
    <head>
        <meta charset="UTF-8">
        <title>Pedido - Guido's Pizza</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pizzas.css') }}">
    </head>
    <body>
    
        <div>   
            <div class="enlace">
            <img src="{{ url_for('static',filename='styles/logo.JPG') }}" alt="" class="logo">
            </div>
            <ul class="heading">     
                <li><a href="/entradas">Entradas 🥟</a></li>
                <li><a href="/pizzas">Pizzas 🍕</a></li>
                <li><a href="/lasagnas">Lasagnas 🍝</a></li>
                <li><a href="/combos">Combos ⭐️</a></li>
                <li><a href="/bebidas">Bebidas 🥤</a></li>
                <li><a href="/postres">Postres 🍰</a></li>
                <li><a href="/pedidos">Carrito 🛒</a></li>
                <li><a href="/logout"> Log Out ❌</a></li>

            </ul>
        </div>
        <div class="menu">
            <div class="pizzas">
                <img src="{{ url_for('static',filename='styles/pizzas/Hawaiana.jpeg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Pizza Hawaiana</h5>
                        <h5 class="price"> Desde S/ 10.00 </h5>
                    </div>
                    <select class="opt" name="seleccion1">
                        <option value="5" selected>Familiar (+ S/ 22.90) </option>
                        <option value="6">Grande (+ S/ 12.90)</option>
                        <option value="7">Mediana (+ S/ 6.90)</option>
                        <option value="8">Personal</option>
                    </select>
                    <div class="boton">
                        <button class="selec">Añadir al Carrito</button>
                    </div>                      
                </div>
            </div>

            <div class="pizzas">
                <img src="{{ url_for('static',filename='styles/pizzas/Americana.jpeg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Pizza Americana</h5>
                        <h5 class="price"> Desde S/ 7.00 </h5>
                    </div>
                    <select class="opt" name="seleccion2">
                        <option value="9" selected>Familiar (+ 22.90)</option>
                        <option value="10">Grande (+ 12.90)</option>
                        <option value="11">Mediana (+ S/ 6.90)</option>
                        <option value="12">Personal</option>
                    </select>
                    <div class="boton">
                        <button class="selec">Añadir al Carrito</button>
                    </div>                      
                </div>
            </div>

            <div class="pizzas">
                <img src="{{ url_for('static',filename='styles/pizzas/Pepperoni.jpeg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Pizza de Pepperoni</h5>
                        <h5 class="price"> Desde S/ 8.00</h5>
                    </div>
                    <select class="opt" name="seleccion3">
                        <option value="13" selected>Familiar (+ S/ 22.90)</option>
                        <option value="14">Grande (+ S/ 12.90)</option>
                        <option value="15">Mediana (+ S/6.90)</option>
                        <option value="16">Personal</option>
                    </select>
                    <div class="boton">
                        <button class="selec">Añadir al Carrito</button>
                    </div>                      
                </div>
            </div>

            <div class="pizzas">
                <img src="{{ url_for('static',filename='styles/pizzas/Queso.jpeg') }}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Pizza Mozzarella</h5>
                        <h5 class="price">Desde S/ 9.00</h5>
                    </div>
                    <select class="opt" name="seleccion4">
                        <option value="17" selected>Familiar (+ S/ 22.90)</option>
                        <option value="18">Grande (+ S/ 12.90)</option>
                        <option value="19">Mediana (+ S/ 6.90)</option>
                        <option value="20">Personal</option>
                    </select>
                    <div class="boton">
                        <button class="selec">Añadir al Carrito</button>
                    </div>                      
                </div>
            </div>
        </div>

        <script>
            const selectores=document.querySelectorAll('.opt')
            var prod_id;
            for(let i=0; i<selectores.length;i++){
                const selector=selectores[i];
                prod_id=selector.value
                selector.onchange = function(e) {
                    prod_id=selector.value;
                    console.log(prod_id);
                }
            }

            const botones=document.querySelectorAll('.selec')
            for(let i=0; i<botones.length;i++){
                const boton=botones[i];
                boton.onclick=function(e){
                    console.log(e);
                    fetch('/pizzas/selecc',{
                        method: 'POST',
                        body: JSON.stringify({
                            'prod_id':prod_id
                        }),
                        headers:{
                            'Content-Type':'application/json'
                        }
                    }).then(function MensajeCorrecto(){
                        console.log("Listo. Se ha añadido correctamente al carrito.");
                        alert("Listo. Se ha añadido correctamente al carrito.");
                    })
                }
            }      

        </script>
    </body>
</html>