<html>
    <head>
    <meta charset="UTF-8">
    <title>Pedido - Guido's Pizza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/postres.css') }}">
</head>
<body>
   
    <div>   
        <div class="enlace">
        <img src="{{ url_for('static',filename='styles/logo.JPG') }}" alt="" class="logo">
        </div>
        <ul class="heading">     
            <li><a href="/entradas">Entradas 🥟</a></li>
            <li><a href="/pizzas">Pizzas 🍕</a></li>
            <li><a href="/lasagnas">Lasagnas 🍝</a></li>
            <li><a href="/combos">Combos ⭐️</a></li>
            <li><a href="/bebidas">Bebidas 🥤</a></li>
            <li><a href="/postres">Postres 🍰</a></li>
            <li><a href="/pedidos">🛒</a></li>

        </ul>
    </div>
    <div class="menu">
        <div class="postres">
            <img src="{{ url_for('static',filename='styles/postres/VolcanDeChocolate.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Volcan de Chocolate</h5>
                    <h5 class="price"> S/ 6.00 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="postres">
            <img src="{{ url_for('static',filename='styles/postres/RollosDeCanela.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Rollos de Canela (x6)</h5>
                    <h5 class="price"> S/ 14.00 </h5>
                </div>
                <button>Seleccionar</button>
            </div>
        </div>

        <div class="postres">
            <img src="{{ url_for('static',filename='styles/postres/PieDeManzana.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Mini Pie de Manzana</h5>
                    <h5 class="price"> S/6.00 </h5>
                </div>
                
                <button>Seleccionar</button>
            </div>
        </div>
    </div>

</body></html>